{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About</title>

    <!-- Bootstrap Core CSS -->
     <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/round-about.css' %}" rel="stylesheet">
    <link href="{% static 'css/grayscale.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Sarpanch:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Orbitron:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="{% url 'home' %}">
                    <i class="fa fa-play-circle"></i>  <span class="light"></span> Volume.max()
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->

                     <li>
                        <a  href="{% url 'about' %}">About</a>
                    </li>

                    <li>
                        <a  href="{% url 'artists' %}">Artists</a>
                    </li>

                    <li>
                        <a  href="{% url 'albums' %}">Albums</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <!--<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
            </div>
        </div>-->

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">TheCodas</h2>
            </div>

            <div class="col-lg-4 col-sm-4 text-center">
                <img class="img-circle img-responsive img-center aboutpic aboutrow" src="{% static 'img/efe.jpg' %}" alt="" height="200" width="200">
                <h4>Efosa "Efe" Elaiho</h4>
                <h6>Full-Stack Development & UX/UI</h6>
                <p>A computer science major from Dallas,TX. I love sushi rolls. Dez Bryant caught the ball fam!</p>
            </div>
            <div class="col-lg-4 col-sm-4 text-center">
                <img class="img-circle img-responsive img-center aboutpic aboutrow" src="{% static 'img/raymond.jpg' %}" alt="" height="200" width="200">
                <h4>Raymond Ton</h4>
                <h6>Back-End Development</h6>
                <p>Student seeking a bachelor's degree in computer science. Interests include online gaming, music, basketball.</p>
            </div>
            <div class="col-lg-4 col-sm-4 text-center">
                <img class="img-circle img-responsive img-center aboutpic aboutrow" src="{% static 'img/justin.jpg' %}" alt="" height="200" width="200">
                <h4>Justin Winata</h4>
                <h6> API / Back-End Development </h6>
                <p>Originally from Sugar Land, TX and now currently a student at UT Austin, a part-time Software Contractor at Tempo Semiconductor, Inc., and team member trainee for Koinonia Austin trying to balance work, school, and ministry.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-4 text-center">
                <img class="img-circle img-responsive img-center aboutpic" src="{% static 'img/johnny.jpg' %}" alt="" height="200" width="200" >
                <h4>Chang Chih Chi #Johnny</h4>
                <h6> Front-End Development & UX/UI</h6>

                <p>Authentic Taiwanese, enjoys life and friendship in Austin. He tries to keep this site classy :D</p>

            </div>
            <div class="col-lg-4 col-sm-4 text-center">
                <img class="img-circle img-responsive img-center aboutpic" src="{% static 'img/mark.jpg' %}" alt="" height="200" width="200">
                <h4>Mark Laver</h4>
                <h6> API / Back-End Development/ Server </h6>

                <p>Mark is a former Marine pursuing a bachelor's degree in computer science. Interests include scuba and history.</p>

            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-6 text-center">
                <a href="https://github.com/efeelaiho/TheCodas">
                    <img class="img-responsive" src="{% static 'img/GitHub_Logo.png' %}" alt="">
                </a>
                <h6>GitHub Code Repository</h6>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 text-center">
                <a href="https://github.com/efeelaiho/TheCodas/wiki">
                    <img class="img-responsive" src="{% static 'img/GitHub_Logo.png' %}" alt="">
                </a>
                <h6>GitHub Wiki</h6>
            </div>            
            <div class="col-lg-3 col-md-4 col-xs-6 text-center">
                <a href="https://github.com/efeelaiho/TheCodas/issues">
                    <img class="img-responsive" src="{% static 'img/GitHub_Logo.png' %}" alt="">
                </a>
                <h6>GitHub Issue Tracker</h6>
            </div> 
            <div class="col-lg-3 col-md-4 col-xs-6 text-center">
                <a href="http://volumemin.marklaver.apiary.io/#">
                    <img class="img-responsive" src="{% static 'img/apiary-logo.png' %}" alt="">
                </a>
                <h6>Apiary API</h6>
            </div> 
        </div>

        <hr>

        <!-- Data Row -->
        <<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Data</h1>
                <h3 id="-data-format"># Data format</h3>
                <p>The data was extracted from Spotify.com using their Web API&lt;sup&gt;1&lt;/sup&gt;. Using a Python library called Spotipy&lt;sup&gt;2&lt;/sup&gt;, the artist data and album data were fetched from the Spotify music catalog with a Python script isolating the information that was relevant to the models (and some data that will hopefully be utilized in future phases for a richer user expererience). A Pythonic wrapper named Wikipedia&lt;sup&gt;3&lt;/sup&gt; was also used to extract the summary section of the artists&#39; and albums&#39; Wikipedia pages. All the data was stored in a single json object as a dictionary indexed by their Spotify IDs.</p>
                <p>The artist dictionary contains dictionaries of their name, top track names, dictionaries of album names and their album art, Wikipedia page summary, and the url of the artist image. For example:</p>
            <pre><code>{&quot;19eLuQmk9aCobbVDHc6eek&quot;: 
    {&quot;toptracks&quot;: 
        [&quot;What A Wonderful World&quot;, &quot;Dream A Little Dream Of Me&quot;, &quot;La Vie En Rose - Single Version&quot;],
     &quot;albums&quot;: [&quot;By Popular Demand&quot;, &quot;In Person&quot;, ...], 
     &quot;img&quot;: &quot;https://i.scdn.co/image/7e61be280d4f457b89d563be6b2a11e8ef9e67f3&quot;}, 
&quot;3fMbdgg4jU18AjLCKBhRSm&quot;: 
    {&quot;toptracks&quot;: 
        [&quot;Billie Jean - Single Version&quot;, &quot;Love Never Felt so Good&quot;, &quot;Love Never Felt so Good&quot;], 
     &quot;albums&quot;: [&quot;XSCAPE&quot;, &quot;Michael&quot;, &quot;Invincible&quot;, &quot;BLOOD ON THE DANCE FLOOR/ HIStory In The Mix&quot;, ...],
     &quot;img&quot;: &quot;https://i.scdn.co/image/738650ce127e119788a7bca020fbd054b5aa57b5&quot;}, ...}
</code></pre><p>This is stored in <code>TheCodas/vmax_src/artistcache.json</code>
(The artist cache will eventually hold more information: birth and death and/or years active information, genres, birthplace/origin, members, website, the top tracks will be a dictionary of track names keyed to their Spotify track IDs, and possibly more)</p>
<p>The album dictionary contains dictionaries of their name, list of tracks and the url of the album art. For example:</p>
<pre><code>{&quot;6YlPSTWp7bq3Q01L9EcaGG&quot;: 
    {&quot;name&quot;: &quot;Heart Full Of Rhythm / Volume 2 (1936-38)&quot;, 
     &quot;img&quot;: &quot;https://i.scdn.co/image/6b843f9e2a1df891f5c270577c056621f50d5413&quot;, 
     &quot;albumtracks&quot;: [&quot;I Come From A Musical Family - Single Version&quot;, &quot;Somebody Stole My Break - Single Version&quot;, &quot;If We Never Meet Again - Single Version&quot;, ...]},
 &quot;5xifZlByZcZecgkP7sYSoW&quot;: 
     {&quot;name&quot;: &quot;The Marshall Mathers LP&quot;, 
      &quot;img&quot;: &quot;https://i.scdn.co/image/2cdee8b0dd96ca108db92f3894366c574055f959&quot;, 
      &quot;albumtracks&quot;: [&quot;Public Service Announcement 2000&quot;, &quot;Kill You&quot;, &quot;Stan&quot;, &quot;Paul - Skit (Explicit)&quot;, &quot;Who Knew&quot;, &quot;Steve Berman&quot;, ...]}, ...}
</code></pre><p>This is stored in <code>TheCodas/vmax_src/albumcache.json</code>
(The album cache will eventually hold more information: release date, genres, the track list will be a dictionary of track names keyed to their Spotify track IDs, and possibly more.)</p>
<p>Currently, these files contain sample data of just six artists and their albums:</p>
<ul>
<li>Louis Armstrong</li>
<li>Miles Davis</li>
<li>Bill Evans</li>
<li>Eminem</li>
<li>Kanye West</li>
<li>Michael Jackson</li>
</ul>
<p>However, the plan is to expand this to the top 50 artists, found from scraping another (to be determined if not available in Spotify Web API) API and processing that data through the python script.</p>
<h2 id="-accessing-the-data"># Accessing the data</h2>
<h3 id="-internal-use"># Internal use</h3>
<p>In order to access the data internally, the JSON dictionaries will be loaded as cached data. The data can then be called throughout the application readily by key and/or index.</p>
<h3 id="-external-use"># External use</h3>
<p>The data is exposed using the apiary API volumemin&lt;sup&gt;4&lt;/sup&gt;.  It can be accessed at <a href="http://volumemax.me:8000/api">http://volumemax.me:8000/api</a> .  See the apiary documentation for more details.  For example:</p>
<pre><code>http://volumemax.me:8000/api/artists/1
</code></pre><p><code>{</code>
            <code>&quot;toptracks&quot;: [&quot;What A Wonderful World&quot;, &quot;Dream A Little Dream Of Me&quot;, &quot;La Vie En Rose - Single Version&quot;],</code>
            <code>&quot;albums&quot;: [&quot;By Popular Demand&quot;, &quot;In Person&quot;],</code>
            <code>&quot;img&quot;: &quot;https://i.scdn.co/image/7e61be280d4f457b89d563be6b2a11e8ef9e67f3&quot;</code>
        <code>}</code></p>
<h6 id="-references"># References</h6>
<ol>
<li><a href="https://developer.spotify.com/web-api/">https://developer.spotify.com/web-api/</a></li>
<li><a href="http://spotipy.readthedocs.org/en/latest/">http://spotipy.readthedocs.org/en/latest/</a></li>
<li><a href="https://wikipedia.readthedocs.org/en/latest/code.html">https://wikipedia.readthedocs.org/en/latest/code.html</a></li>
<li><a href="http://docs.volumemax.apiary.io/#">http://docs.volumemax.apiary.io/#</a></li>
</ol>

            </div>
        </div>


        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; TheCodas 2015</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/grayscale.js' %}"></script>

</body>

</html>
