{% extends "navbar.html" %}
{% load staticfiles %}

<!--head tag-->

{% block head %}
<title>Volume.max() - Album Database</title>
  {{block.super}}

{% endblock %}

<!-- navigation -->
{% block navbar %}
  {{block.super}}
{% endblock %}

<!--body-->
{% block content %}


    <!-- Page Content -->
    <div class="container">

            <div class="col-lg-12">
                <h1 class="page-header">Album Database</h1>
            </div>
    </div>

    <div class="container">
            <div class="table-responsive">
                <table id="albumTable" class="display table " width="100%" >
                        <thead>  
                          <tr>  
                            <th>Photo</th>  
                            <th>Name</th>  
                            <th>Artist</th>
                            <th>Release Date</th>  
                            <th>Genre</th>  
                          </tr>  
                    </thead>  
                        <tbody>  
                        {% for album in albums_list %}
                          <tr>  
                            <td> <a href="{% url 'album_view' album.get_absolute_url %}">
                    <img class="img-responsive" src="{{album.image_url}}" alt="" width="200" height="200" 
                    style="border-radius: 5px;border-style: solid;border-width: 2px;border-color: #D50000;"> 
                </a></td>  
                            <td style="text-transform: capitalize;">{{album.album_name}}</td>  
                            <td style="text-transform: capitalize;">{{album.album_artist.full_name}} </td>  
                            <td>{{album.release_date}}</td>
                            <td style="text-transform: capitalize;"> {{album.genre}}</td>  
                          </tr>
                          {% endfor %} 
                           
                        </tbody>


                </table>
            </div>
        <hr>


        

{% endblock %}

{% block footer %}

  {{block.super}}
{% endblock %}