{% extends "navbar.html" %}
{% block head %}
 <title>Volume.max() - Artists</title>
  {{block.super}}

{% endblock %}
{% block navbar %}
  {{block.super}}
{% endblock %}
{% block content %}
{% load staticfiles %}

    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Artists</h1>
            </div>
            {% for artist in artist_list %}
            <div class="col-lg-3 col-md-4 col-xs-6 thumb text-center">
                
                <a class="thumbnail" href="{% url 'artist_view' artist.get_absolute_url %}">
                    <img class="img-responsive" src="{{artist.image_url}}" width="320">
                </a>
                <h6>{{artist.full_name}}</h6>
            </div>
            {% endfor %}
        </div>

        <hr>
{% endblock %}
{% block footer %}
  {{block.super}}
{% endblock %}