{% extends "navbar.html" %}
{% block head %}
    {% load staticfiles %}
  {{block.super}}
{% endblock %}
{% block navbar %}
  {{block.super}}
{% endblock %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" >{{Artist.full_name}}
                </h1>
            </div>
        </div>


        <!-- artist additional information -->
        <h2 style="font-size:17px;margin-top:-10px; margin-bottom: 10px">popularity:  &nbsp &nbsp {{Artist.popularity}} &nbsp / &nbsp 100 </h2>
         <h2 style="font-size:17px;margin-top:-10px; margin-bottom: 10px">origin: &nbsp &nbsp {{Artist.origin}} </h2>
        <h2 style="font-size:17px;margin-top:-10px;margin-bottom: 10px">genre: &nbsp &nbsp {{Artist.origin}} </h2>

     
            
        <!-- biography -->
       <h2 class="page-header">Biography </h2>

            <p>
                <img  src="{% static {{Artist.image_url}} %}" alt=""  style="float: left; margin: 0px 20px 10px 0px;"> {{Artist.biography}}
            </p>


        <!-- youtube -->
        <h2 class="page-header">Related Videos</h2>
        <!-- video 1 -->
        <iframe width="450" height="350" src={{Artist.youtubeurl_1}} frameborder="0" allowfullscreen></iframe>
         &nbsp 
        <!-- video 2 -->
        <iframe width="450" height="350" src={{Artist.youtubeurl_2}} frameborder="0" allowfullscreen></iframe>


        <!-- album -->
        <br>
        <br>
        <h2 class="page-header">TheCodas' recommended album</h2>
        
        <div class="recommended-album">
            <a href="{% url {{Artist.recommended_album}} %}">
                <img src="{% static {{Artist.recommended_album.image_url}} %}"   height="250" width="250" >  
                {{Artist.recommended_album}}
            </a>
        </div>


        <!-- spotify  link -->
        <h2 class="page-header">Follow on Spotify</h2>

        <iframe src="https://embed.spotify.com/follow/1/?uri=spotify:artist:{{Artist.spotify_artist_uri}}&size=detail&theme=dark" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true">
        </iframe> 
        <br>
        <!-- closing line -->
        <hr>

{% endblock %}
{% block footer %}
  {{block.super}}
{% endblock %}
