{% extends "navbar.html" %}
{% block head %}
    {% load staticfiles %}
  {{block.super}}
{% endblock %}
{% block navbar %}
  {{block.super}}
{% endblock %}
{% block content %}

      <!-- Page Content -->
    <div class="container">


        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{album.album_name}}
                </h1>
            </div>
        </div>          

        <!-- Subtitles with album additional information -->
        <h2 style="font-size:17px;margin-top:-10px; margin-bottom: 10px">released date:&nbsp {{album.release_date}} </h2>
        <h2 style="font-size:17px;margin-top:-10px;margin-bottom: 10px">genre:&nbsp {{album.genre}} </h2>


        <!-- album image -->
        <img src="{{album.image_url}}" alt="" class = "album-page-pic">

        <!-- editor notes section -->
        <h2 align="middle" class="editor">Editors' Notes</h2>
        <p class="albumParagraph">{{album.editors_notes}}</p>
        

        <!-- Spotify tracks player -->
        <h3 align="middle">Track listing</h3>
        <iframe src="https://embed.spotify.com/?uri={{album.spotify_albums_uri}}" width="300" height="380" frameborder="0" align="middle" allowtransparency="true"></iframe>
        <br>
        <!-- close line -->
       <hr>

{% endblock %}
{% block footer %}
  {{block.super}}
{% endblock %}
