{% extends "navbar.html" %}
{% load staticfiles %}

<!--head tag-->

{% block head %}
<title>Volume.max() - NFL</title>
  {{block.super}}

{% endblock %}

<!-- navigation -->
{% block navbar %}
  {{block.super}}
{% endblock %}

<!--body-->
{% block content %}


    <!-- Page Content -->
    <div class="container">

            <div class="col-lg-12">
                <h1 class="page-header">Upcoming Artist Performances</h1>
            </div>
    </div>



    <div class="container">
            <div class="table-responsive">
                <table id="albumTable" class="display table" width="100%" >
                    <thead>  
                          <tr>  
                            <th>Stadium</th>  
                            <th>Team</th>  
                            <th>City</th>
                            <th>State</th>  
                            <th>Artist</th>  
                            <th></th>
                          </tr>  
                    </thead>  
                        <tbody> 
                            {% for team, artist in teams %} 
                            <!-- {{artist}} <br> <br> -->
                          <tr>  
                            <td> 
                    <img class="img-responsive" src="{{team.simage}}" width="200" height="200" 
                    style="border-radius: 5px;border-style: solid;border-width: 2px;border-color: #D50000;"></td>  
                            <td style="text-transform: capitalize;">{{team.team}}</a></td>  
                            <td style="text-transform: capitalize;">{{team.city}}</td>  
                            <td>{{team.state}}</td>
                            <td><a href="{% url 'artist_view' artist.get_absolute_url %}">{{artist.full_name}}</a></td> 
                            <td><a href="{% url 'artist_view' artist.get_absolute_url %}"><img class="img-responsive" src="{{artist.image_url}}" width="150" height="150" 
                    style="border-radius: 5px;border-style: solid;border-width: 2px;border-color: #D50000;"> </a>
                          </tr>  
                           {% endfor %}
                          
                        </tbody>

                </table>
            </div>
        <hr>


        

{% endblock %}

{% block footer %}

  {{block.super}}
{% endblock %}