body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.thumb {
    margin-bottom: 10px;
}

footer {
    margin: 50px 0;
}
 a:hover {
	box-shadow: 0 0 40px #009688;
}