body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.thumb {
    margin-bottom: 10px;
}

footer {
    margin: 50px 0;
}

a.thumbnail:hover {
	box-shadow: 0 0 110px #D50000;
	-moz-box-shadow: 0 0 110px #D50000;
	-webkit-box-shadow: 0 0 110px #D50000;
}

a.thumbnail:hover {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
}

a.thumbnail {
  -webkit-transition: all .35s ease; /* Safari and Chrome */
    -moz-transition: all .35s ease; /* Firefox */
    -o-transition: all .35s ease; /* IE 9 */
    -ms-transition: all .35s ease; /* Opera */
    transition: all .35s ease;
    max-width: 100%;
}

